---
import MainLayout from '~layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import Typography from '~components/ui/Typography.astro';
import { PAGES } from '~consts/pages';
import { Image } from 'astro:assets';

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/blog/*.{jpeg,jpg,png,gif,webp}',
);

const allPosts = await getCollection('blog');
const sortedPosts = allPosts.sort(
  (a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime(),
);

const formatDate = (date: Date) => {
  return date.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  });
};

// Truncate description to a certain character limit
const truncateText = (text: string, maxLength: number = 90) => {
  if (text.length <= maxLength) return text;
  return text.slice(0, maxLength).trim() + '...';
};
---

<MainLayout
  title="devtimate | Blog"
  description="Insights, tips, and best practices for software project estimation and management."
>
  <section>
    <header>
      <Typography tag="h1" styling="headingL"
        >Software project estimation <span class="highlightText"
          >tips and guides</span
        >
      </Typography>
      <Typography tag="p" styling="paragraphL">
        Learn how to make better software project estimates, respond faster to
        client requests,<br /> and increase your win rate with smarter estimation
        practices.
      </Typography>
    </header>

    <div class="posts">
      {
        sortedPosts.map(async (post) => {
          const imagePath = `/src/assets/blog/${post.data.coverImage}`;
          const imageModule = await images[imagePath]();

          return (
            <article>
              <a href={`${PAGES.BLOG}/${post.slug}`}>
                <div class="postContent">
                  <Image
                    class="postImage"
                    src={imageModule.default}
                    alt={post.data.title}
                    inferSize={true}
                  />

                  <div class="postContent">
                    <Typography tag="h2" styling="bodyL">
                      {post.data.title}
                    </Typography>

                    <Typography tag="p" styling="paragraphM" color="gray1000">
                      {truncateText(post.data.description)}
                    </Typography>

                    <div class="postMeta">
                      <Typography
                        color="gray1000"
                        tag="span"
                        styling="paragraphS"
                      >
                        {formatDate(post.data.publishedAt)}
                      </Typography>
                      {post.data.readingTime && (
                        <>
                          <span class="metaSeparator">•</span>
                          <Typography
                            color="gray1000"
                            tag="span"
                            styling="paragraphS"
                          >
                            {post.data.readingTime}
                          </Typography>
                        </>
                      )}
                    </div>
                  </div>
                </div>
              </a>
            </article>
          );
        })
      }
    </div>
  </section>
</MainLayout>

<style lang="scss">
  @use '~styles/mixins/media' as *;

  section {
    margin-top: 100px;
    padding: 3rem 1rem;

    a {
      color: var(--text);
      text-decoration: none;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    gap: var(--s-16);
  }

  .highlightText {
    position: relative;
    z-index: 1;
    background-color: var(--primary-lightest-doodle);
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--s-16);
    row-gap: var(--s-56);

    margin-top: var(--s-46);

    @include media-min('sm') {
      grid-template-columns: repeat(2, 1fr);
      row-gap: var(--s-32);
    }

    @include media-min('md') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .postContent {
    display: flex;
    flex-direction: column;
    gap: var(--s-8);
  }

  .postImage {
    aspect-ratio: 16 / 10;
    width: 100%;
    height: auto;
    margin-bottom: var(--s-16);
    border-radius: var(--radius-12);

    object-fit: fill;
    object-position: center;
  }

  .postMeta {
    display: flex;
    align-items: center;
    gap: var(--s-8);
    margin-top: var(--s-8);

    .metaSeparator {
      color: var(--gray-700);
      font-size: 1rem;
      font-weight: bold;
    }
  }
</style>
