---
import Typography from '~components/ui/Typography.astro';

import highlight from '~assets/highlights/highlight-four.svg';
import kamilPhoto from '~assets/testimonials/kamil-zawadzki-review.png';
import krzysztofPhoto from '~assets/testimonials/krzysztof-sokolowski-review.jpeg';
import { Image } from 'astro:assets';
import Star from 'phosphor-astro/StarDuotone.astro';
import { SECTIONS } from '~consts/sections';
import LinkedinLogo from 'phosphor-astro/LinkedinLogo.astro';
import Globe from 'phosphor-astro/Globe.astro';
import HighlightedText from '~components/ui/HighlightedText.astro';

const backgroundUrl = `url(${highlight.src})`;

const cardsData = [
  {
    photo: krzysztofPhoto,
    title: 'Standardized project estimation',
    description:
      'With this project estimation tool we’ve finally standardized the way we estimate projects. Everything sits in one tool which simplifies and accelerates our workflow.',
    fullname: 'Krzysztof Sokołowski',
    position: 'VP Business Development at Fingoweb',
    websiteUrl: 'https://www.fingoweb.com',
    linkedinUrl: 'https://www.linkedin.com/in/krzysztof-soko%C5%82owski-vp-bd/',
  },
  {
    photo: kamilPhoto,
    title: 'Half the effort in estimation',
    description:
      'I run a 30+ people software team, and we deliver bespoke software for over 10 years. The proposals we make were always time consuming, but the details we provide were always the thing that made us win - not the price. With devtimate I can save up about 50% of my time, and 80% of my senior engineers time, and deliver quality ballparks quotes instantly.',
    fullname: 'Kamil Zawadzki',
    position: 'Co-Founder at Webchefs',
    websiteUrl: 'https://webchefs.tech',
    linkedinUrl: 'https://www.linkedin.com/in/kamil-zawadzki-work/',
  },
];
---

<section id={SECTIONS.TESTIMONIALS} class="container">
  <div class="text">
    <Typography align="left" tag="h2" styling="headingL">

      <HighlightedText
        text="Our customers\nabout devtimate"
        highlights={[{ text: 'devtimate', variant: 4 }]}
      />
    </Typography>
  </div>

  <div class="cards">
    {
      cardsData.map((card) => (
        <div class="card">
          <div class="stars">
            <Star width={28} height={28} fill="var(--yellow)" />
            <Star width={28} height={28} fill="var(--yellow)" />
            <Star width={28} height={28} fill="var(--yellow)" />
            <Star width={28} height={28} fill="var(--yellow)" />
            <Star width={28} height={28} fill="var(--yellow)" />
          </div>

          <div class="cardTexts">
            <Typography tag="h3" styling="headingXs">
              {card.title}
            </Typography>
            <Typography tag="p" styling="paragraphM" color="gray1000">
              {card.description}
            </Typography>
          </div>

          <div class="person">
            <Image class="personPhoto" src={card.photo} alt={card.fullname} />

            <div class="personTexts">
              <Typography tag="p" styling="headingXs">
                {card.fullname}
              </Typography>
              <Typography tag="p" styling="paragraphM" color="gray1000">
                {card.position}
              </Typography>

              <div class="personLinks">
                <a href={card.websiteUrl} target="_blank">
                  <Globe width={'2rem'} height={'2rem'} />
                </a>
                <a href={card.linkedinUrl} target="_blank">
                  <LinkedinLogo width={'2rem'} height={'2rem'} />
                </a>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss" define:vars={{ 'background-url': backgroundUrl }}>
  @use '~styles/mixins/media' as *;

  .container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: var(--section-gap);
  }

  .text {
    max-width: 640px;
    margin-bottom: var(--s-32);
  }

  .highlightText {
    position: relative;
    z-index: 10;
    display: inline-block;
  }

  .highlightTextInner {
    position: relative;
    z-index: 10;
    display: inline-block;
  }

  .highlight {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-30%) translateX(-0.7rem);
    scale: 1.01 1.25;

    width: 104%;
    height: 100%;

    background-image: var(--background-url);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--s-16);
    margin-top: var(--s-56);

    @include media-min('sm') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .card {
    display: flex;
    flex-direction: column;

    padding: var(--s-24);
    border: 1px solid var(--gray-300);
    border-radius: var(--radius-16);

    background-color: var(--gray-50);
  }

  .stars {
    display: flex;
    gap: var(--s-4);
    margin-bottom: var(--s-28);
  }

  .cardTexts {
    display: flex;
    flex-direction: column;
    gap: var(--s-12);
    margin-bottom: var(--s-56);
  }

  .person {
    display: flex;
    gap: var(--s-16);
    align-items: center;
    margin-top: auto;
  }

  .personPhoto {
    width: 8.2rem;
    height: 8.2rem;
    border-radius: var(--radius-circle);
    object-fit: cover;
  }

  .personTexts {
    display: flex;
    flex-direction: column;
    gap: var(--s-4);
  }

  .personLinks {
    display: flex;
    gap: var(--s-4);
    margin-top: var(--s-8);

    & a {
      color: var(--gray-1000);
    }
  }
</style>
